.form-title {
  font-size: 36px;
  margin: 80px 0 23px 0;
}

.form-decription {
  margin-bottom: 35px;
}

input,
textarea {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #e0e9f0;
  margin: 16px 0;
  padding: 10px;
}
input {
  height: 52px;
}

input:hover,
textarea:hover {
  border-color: #009688;
}

textarea {
  height: 140px;
  overflow: scroll;
  resize: none;
}

.search-input {
  white-space: nowrap;
  position: relative;
  display: flex;
  align-content: center;
}

.search {
  margin: 0;
}

.search-icon {
  position: absolute;
  top: 10px;
  right: 26px;
  bottom: 0;
  height: 32px;
  background: none;
  border: none;
  cursor: pointer;
}

input[type="search"]::-ms-clear {
  display: none;
  width: 0;
  height: 0;
}
input[type="search"]::-ms-reveal {
  display: none;
  width: 0;
  height: 0;
}

input[type="search"]::-webkit-search-results-decoration {
  display: none;
}

/* Ну или просо поменять тип инпута на текст */

.search-icon ~ .search {
  padding-right: 50px;
}
