.header-top {
  background-color: #f5f8fb;
  margin: 0;
  padding: 31px 0 29px 0;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-bottom {
  border-top: 1px solid #e0e9f0;
  border-bottom: 1px solid #e0e9f0;
}
